/* Sidebar */
.sidebar {
    padding: 50px 20px 60px 55px;
    width: 252px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar-logo {
    margin-bottom: 35px;
}

.sidebar-help {
    margin-top: auto;
}

/* Nav */

.nav-title {
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 30px;
}

.nav-list {
    font-size: 15.71px;
}

.nav-list li {
    margin-bottom: 27px;
}

.nav-list a {
    transition: color 0.2s ease-in;
}

.nav-list a:hover {
    color: #7972D8;
}

.nav-list img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    width: 26px;
    height: auto;
    object-fit: none;
}

/* Help */

.help {
    font-size: 15.7px;
}

.help-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* main */


/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 0px;
}

/* Search */

.search {
    width: 490px;
    height: 44px;
}

.search-label {
    height: 100%;
    display: flex;
}

.search-icon {
    margin-right: 7px;
}

.search-input {
    padding: 0 10px;
    flex-grow: 1;
    background: none;
    border-radius: 15px;
    cursor: pointer;

    font-size: 17px;
    font-weight: 500;
    font-family: 'Circular Std';
}

.search-input:focus, .search-input:active {
    background-color: #D2DFEF;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}


/* window */

.window{
    width: 350px;
    height: 530px;
    margin: 40px auto;
    background: brown;
    border: 1px solid brown;
    border-radius: 15px;
    z-index: 150;
    display: none;
}
.gray{
    background-color: rgba(1,1,1,0.75);
    position: fixed;
    left:0;
    top:0;
    button:0;
    display:none;
    z-index: 100;


}
.form{
    width: 275px;
    margin: -15px auto 20px auto;
    text-align: center;
}
.input {
    width: 260px;
    padding: 5px;
    margin-bottom: 10px ;
    flex-grow: 1;
    background: none;
    border-radius: 15px;
    cursor: pointer;

    font-size: 17px;
    font-weight: 500;
    font-family: 'Circular Std';
}

.input:focus, .input:active {
    background-color: #CFD6E7;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}
.radio{
    margin: 10px;
    cursor: pointer;
    border: 1px solid #cccccc;
    padding: 2px;


}
.close{
    margin: 10px 0px 0px 320px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 2px;
    background: #ccc;
}

.close:focus, .close:active {
    background-color: #fff;
}


/* window */


/* Nav header */

.nav-header {
    font-size: 17px;
    font-family: 'Circular Std';
    font-weight: 500;
}

.nav-header-list {
    display: flex;
    align-items: center;
}

.nav-header-link-text {
    position: relative;
}

.nav-header-link-text::after {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -9px;

    content: "";
    display: block;
    height: 2px;
    background-color: black;

    transition: width 0.2s ease-in;
}

.nav-header-link-text a{
    color: black;
    text-decoration: none;
}

.nav-header-link-text a:hover{
    text-decoration: none;
    color: black;
}

.nav-header-link-text:hover::after {
    width: 100%;
}

.nav-header-link-text.active::after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -9px;

    content: "";
    display: block;
    height: 2px;
    background-color: black;
}

/************************************************************/


.nav-header-link-text-custom {
    position: relative;
}

.nav-header-link-text-custom::after {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: 0px;

    content: "";
    display: block;
    height: 2px;
    background-color: black;

    transition: width 0.2s ease-in;
}

.nav-header-link-text-custom a{
    text-decoration: none;
}

.nav-header-link-text-custom a:hover{
    background: white;
    text-decoration: none;
    color: black;
}

.nav-header-link-text-custom:hover::after {
    width: 100%;
}

.nav-header-link-text-custom.active::after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -9px;

    content: "";
    display: block;
    height: 2px;
    background-color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: -5px;
}

/************************************************************/


.nav-header-link-text + .nav-header-link-text {
    margin-left: 42px;
}

.nav-header-link-text + .nav-header-link-icon {
    margin-left: 20px;
}

.nav-header-link-icon + .nav-header-link-icon {
    margin-left: 25px;
}

/* new home*/

/* текст*/
.home{
    position: relative;
    padding: 110px 0;
    min-height: 895px;
}

.home-content{
    max-width: 440px;
}

.home-heading{
    color: #412C84;
    font-family: 'Georgia', serif;
    font-weight: 600;
    font-size: 65px;
}
.home-heading + * {
    margin-top: 20px;
}

.home-text{
    color: #000000;
    line-height: 144.5%;
    max-width: 430px;
}

.home-text + * {
    margin-top: 53px;
}

.home-btn{
    display: flex;
}

.home-text {
    color: #484848;
    line-height: 144.5%;
    max-width: 430px;
}

.home-text + * {
    margin-top: 53px;
}


/* кнопка*/

.home-btn {
    display: flex;
}

.btn-custom,a.btn-custom {
    display: inline-block;

    min-height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    padding-left: 50px;
    padding-right: 50px;
    background-color: #B8AFD4;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    transition: opacity 0.2s ease;
}

.btn-custom:hover,a.btn-custom:hover {
    opacity: 0.8;
    color: #fff;
}

.btn-big,a.btn-big {
    min-height: 65px;
}

@media (max-width: 991px) {
    .btn-custom,    a.btn-custom {
        min-height: 41px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .btn-big,    a.btn-big {
        min-height: 55px;
    }
}

/* фотка*/

.home-bg-img {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 241, 229);
}

.home-bg-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .home {
        padding: 40px 0;
        min-height: unset;
    }
    .home-heading {
        font-size: 45px;
        line-height: 1.2;
    }
    .home-text + * {
        margin-top: 30px;
    }
    .home-bg-img img {
        opacity: 0.3;
    }
}




/* new */



/* Cards wrapper */

.cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cards-wrapper-row {
    display: flex;
    column-gap: 20px;
}


.col-horizontal {
    display: flex;
    column-gap: 20px;
}

.col-vertical {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* Cards */

.card-local {
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.card-local-image {
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.card-local:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px #9aaab4;
}

.card-horizontal {
    width: 539px;
    height: 180px;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-sale {
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    font-weight: 700;
}

.card-vertical{
    height: 380px;
}

.card-collection-add{
    background: #9aaab4;
    width: 100px;
    height: 380px;
}

.card-product{
    position: relative;
}

.card-product-link {
    width: 100%;
    height: 100%;
}

.card-product-fav-btn {
    position: absolute;
    right: 15px;
    top: 15px;

    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: #fff;
    text-align: center;
}

.card-product-edit-btn {
    margin-left: 15px;
    position: absolute;
    left: 15px;
    top: 15px;

    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: #fff;
    text-align: center;
}

.card-product-edit-btn svg {
    display: inline-block;
    vertical-align: middle;

    stroke: black;
    fill: #fff;

    transition: all 0.2s ease-in;
}


.card-product-fav-btn svg {
    display: inline-block;
    vertical-align: middle;

    stroke: black;
    fill: #fff;

    transition: all 0.2s ease-in;
}

.card-product-fav-btn:hover svg {
    stroke: #FD2E24;
    fill: #FD2E24;
}


.card-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-section {
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-section-title {
    font-size: 28px;
    font-weight: 750;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: left;

}

.card-section-desc {
    font-size: 18px;
    font-weight: 500;
    text-align: left;

}

.card-section-red .card-section-title{
    color: #FD2E24;
}

.first-small-img img{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}
.first-small-img img:hover {
    opacity: 1;

}

.first-small-img{
    float: left;

}

/* ничего не дало */
.firs{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.img-container img {
    height: 500px;

}
.img-container{
    float: left;
    padding: 10px;
}
.name-imag{
    font-size: 19px;
    font-weight: 750;
    text-decoration: none;
    text-align: center;
}

.text_name{
    font-size: 30px;
    font-weight: 750;
    text-decoration: none;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }



}
