<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sirius</title>
    <meta name="description" content="Описание страницы"/>
    <meta name="keywords" content="ключевые слова, фразы"/>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- Web fonts -->
    <link rel="stylesheet" th:href="@{/css/fonts/sofia-pro/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/fonts/circular/stylesheet.css}"/>

    <!-- Open Graph -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Приложение для курсового проекта"/>
    <meta property="og:description" content="Система продажи цифрового контента"/>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicon/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}"/>
    <link rel="manifest" th:href="@{/img/favicon/site.webmanifest}"/>
    <link rel="mask-icon" th:href="@{/img/favicon/safari-pinned-tab.svg}" color="#1a60cf"/>
    <link rel="shortcut icon" th:href="@{/img/favicon/favicon.ico}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <meta name="theme-color" content="#ffffff"/>
</head>
<body>

<main class="main container">
    <header class="header">
        <div class="logo">
            <img src="./../img/logo.svg" alt="Caped logo"/>
        </div>
        <!-- header-search -->
        <div class="header-search">
            <form class="search">
                <label class="search-label">
                    <img class="search-icon" src="./../img/icons/search.svg" alt="Search"/>
                    <input class="search-input" type="text" placeholder="Search store"/>
                </label>
            </form>
        </div>
        <!-- // header-search  -->

        <!-- header-links -->
        <div class="header-links">
            <nav class="nav-header">
                <ul class="nav-header-list">
                    <li class="nav-header-link-text"><a th:href="@{/}">Art</a></li>
                    <li class="nav-header-link-text active"><a th:href="@{/collection}">Your Collections</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Explore
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-header-link-icon">
                        <a href="#"><img src="./../img/icons/person.svg" alt="Profile"/></a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- // header-links -->

    </header>


         <div class="first">
             <div class="first-small-img">
                 <img src="./../img/cards/group1/card-3.jpg" onclick="myFunction(this)">
                 <img src="./../img/cards/group1/card-1.jpg" onclick="myFunction(this)">
                 <img src="./../img/cards/group1/card-5.jpg" onclick="myFunction(this)">
                 <img src="./../img/cards/group1/card-6.jpg" onclick="myFunction(this)">
                 <img src="./../img/cards/group1/vector-1.jpg" onclick="myFunction(this)">
             </div>

             <div class="img-container">
                 <img id="imageBox" src="./../img/cards/group1/card-1.jpg">
             </div>
             <h4 class="card-section-title">Neon city by Gasia</h4>
             <p class="card-section-desc">This drop contains a series of neon photography that you can collect.
                 Owning one of those works will allow users to have access to the end of year virtual exhibition.</p>
         </div>
        <script>
            function myFunction(smallImg){
                var fullImg = document.getElementById("imageBox");
                fullImg.src = smallImg.src;
            }
        </script>

</main>
</body>
</html>