<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sirius</title>
    <meta name="description" content="Описание страницы"/>
    <meta name="keywords" content="ключевые слова, фразы"/>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- Web fonts -->
    <link rel="stylesheet" th:href="@{/css/fonts/sofia-pro/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/fonts/circular/stylesheet.css}"/>

    <!-- Open Graph -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Приложение для курсового проекта"/>
    <meta property="og:description" content="Система продажи цифрового контента"/>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicon/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}"/>
    <link rel="manifest" th:href="@{/img/favicon/site.webmanifest}"/>
    <link rel="mask-icon" th:href="@{/img/favicon/safari-pinned-tab.svg}" color="#1a60cf"/>
    <link rel="shortcut icon" th:href="@{/img/favicon/favicon.ico}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <meta name="theme-color" content="#ffffff"/>

    <style>
        .profile-head {
            transform: translateY(5rem)
        }

        .cover {
            background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
            background-size: cover;
            background-repeat: no-repeat
        }

        body {
            object-fit: cover;
            min-height: 100vh;
            overflow-x: hidden;
            background: url("../../img/body.png") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }



    </style>
</head>
<body>
<main class="main" style="width: 100vw">
    <div th:insert="~{fragments/uaNavbar.html}" sec:authorize="!isAuthenticated()"></div>
    <div th:insert="~{fragments/aNavbar.html}" sec:authorize="isAuthenticated() && hasAuthority('USER')"></div>
    <div th:insert="~{fragments/adminNavbar.html}" sec:authorize="isAuthenticated() && hasAuthority('ADMIN')"></div>
    <div class="photo-bg">
        <div class="row py-2 px-4">
            <div class="col-md-5 mx-auto">
                <!-- Profile widget -->
                <div class="bg-white rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover">
                        <div class="media align-items-end profile-head">
                            <div class="row">
                                <div class="profile mr-3 col-lg-3"><img
                                        th:src="${userData.profileImage ?: 'https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80'}"
                                        alt="..." width="130" height="130"
                                        style="width: 130px; height: 130px; object-fit: cover;"
                                        class="rounded mb-2 img-thumbnail"><a href="/profile/edit"
                                                                              class="btn btn-outline-dark btn-sm btn-block">Edit
                                    profile</a></div>
                                <div class="media-body mb-5 text-white col-lg-3 pt-5">
                                    <h4 class="mt-0 mb-0" th:text="${userData.fio ?: userData.username}">Mark
                                        Williams</h4>
                                    <p class="small mb-4" th:text="${userData.place ?: ''}"><i
                                            class="fas fa-map-marker-alt mr-2"></i>New York</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"  style="visibility: hidden">
                                <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i
                                    class="fas fa-image mr-1"></i>Likes</small>
                            </li>
                            <li class="list-inline-item" style="visibility: hidden">
                                <h5 class="font-weight-bold mb-0 d-block">745</h5>
                                <small class="text-muted"> <i
                                    class="fas fa-user mr-1"></i>Images</small>
                            </li>
                        </ul>
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="mb-0">About</h5>
                        <div class="p-4 rounded shadow-sm bg-light">
                            <p class="font-italic mb-0" th:if="${userData.email != null }"
                               th:text="${userData.email}"></p>
                        </div>
                    </div>
                    <div class="py-4 px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                        </div>
                        <div class="row">

                            <div class="col-lg-6 mb-2" th:each="image : ${lastFour}">
                                <img
                                        th:src="${image.path}"
                                        th:data-thing="${image.id}" onclick="redirect(this.getAttribute('data-thing'));"
                                        alt="" class="rounded shadow-sm"
                                        style="height: 100%; width: 100%; object-fit: cover; cursor: pointer"></div>
                            <div class="col-lg-12 mb-2 text-center" th:if="${lastFour.isEmpty()}">
                                <div
                                        th:text="'Nothing here yet!'"
                                        class="text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function redirect(id) {
        window.location.href = '/gallery/image/' + id;
    }
</script>
</body>
</html>